type vendor_file_type;

# Get persist.service.bdroid.*, bluetooth.* and wcnss property values
get_prop(bluetooth_loader, bluetooth_prop)
get_prop(bluetooth_loader, wcnss_prop)

# Access the serial device
allow bluetooth_loader serial_device:chr_file rw_file_perms;

# And the smd device
allow bluetooth_loader smd_device:chr_file rw_file_perms;

allow bluetooth_loader persist_bluetooth_file:dir search;
allow bluetooth_loader persist_bluetooth_file:file rw_file_perms;

r_dir_file(bluetooth_loader, persist_file)
