allow thermal-engine self:process { setfscreate };
allow thermal-engine socket_device:sock_file { create relabelfrom relabelto setattr };
allow thermal-engine thermal_socket:sock_file { relabelfrom relabelto };
allow thermal-engine shell_exec:file execute_no_trans;
allow thermal-engine toolbox_exec:file execute_no_trans;
